# Server files
server/banned-ips.json
server/banned-players.json
server/cache
server/crash-reports/
server/DragonCorePlayerData/
server/jdk1.8.0_331/
server/logs/
server/usercache.json
# Server Plugins
server/plugins/Essentials/userdata/
server/plugins/Essentials/warps/
server/plugins/Residence/Backup/
server/plugins/Residence/Save/
server/plugins/Skript/
server/plugins/skDragon/
server/plugins/Terraria/PlayerData/
# Server Worlds
server/World/
server/world_nether/
server/world_the_end/
server/world_surface/
server/world_cavern/
server/world_underworld/
server/WorldGenDebug/

# Plugin Dev
.idea/


# Client
client/PCL/.minecraft/.mixin.out/
client/PCL/.minecraft/armourers_workshop/fast-cache/
client/PCL/.minecraft/assets/skins/
client/PCL/.minecraft/crash-reports/
client/PCL/.minecraft/CustomSkinLoader/
client/PCL/.minecraft/logs/
client/PCL/.minecraft/saves/
client/PCL/.minecraft/screenshots/
client/PCL/.minecraft/XaeroWaypoints/
client/PCL/PCL/Log*.txt
client/PCL/.minecraft/resourcepacks/泰拉瑞亚灾厄材质包.zip
client/PCL/.minecraft/usercache.json
client/PCL/.minecraft/usernamecache.json